*{
	margin: 0px;
	padding: 0px;
}

.main{
	/*background :red;*/
	width: 100%;
	height:605px;
}

.header{
	/*background: green;*/
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 2;
}

.appName{
	background: #182838;
	width : 20%;
	height: 100%;
	float: left;
}

.appName>span{
	font-size: 130%;
	color: white;
	/*background: green;*/
	position: absolute;
	left: 2%;
	top: 20px;
}

.search{
	background: #303030;
	width: 80%;
	height: 80px;
	position: relative;
	left: 20%;
}

.searchBar{
	width: 40%;
	height: 35px;
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0px; 
	color: #505050;
	font: 15px georgia;
}

.search>img{
	position: absolute;
	height: 31px;
	width: 31px;
	top: 25px;
	left: 66.5%;
	background: #e7e7e7;
	padding: 2px;
}

.sideBar{
	width: 20%;
	height: 100%;
	background: #182838;
	position: fixed;
	top:80px;
}

.profile_image{
	width: 100%;
	height: 250px;
	/*background: green;*/
	z-index: -1;
	/*border-right: 1px solid black;*/
}

/*.username{
	width: 19%;
	height: 30px;
	background: #b952ec;
	color: white;
	z-index: 1;
	position: absolute;
	top: 290px;
}*/

.list{
	width: 100%;
	height: 260px;
	/*background: green;*/
	color: white;
	font: 18px georgia;

	
}

.list_element{
	width: 100%;
	height: 36px;
	padding-top: 14px; 
	cursor: pointer;
}

.list_element:HOVER{
	background: #0f2031;
}

.list_element>img{
	position: absolute;
	left: 4%;
}

.home{
	
}

.profile{
	
}

.chat{
	
}

.feedback{
	
}

.logout{

}

.list_element>a{
	text-decoration: none;
	color: white;
	margin-left: 35%;
	font: 17px georgia;
}

.mainContent {
	background-color: #D3D3D3;
	width: 80%;
	height: 1600px;
	position: relative;
	left: 20%;
	top: 80px;
	z-index: 0;
}
@media(max-width: 700px){
	.sideBar{
	width: 140px;
	
}
.mainContent {
	
	
	left: 21%;
	
}
.list{
	margin-top: -60px;
}

}